.ide {
    height: 100vh;
}

.sidebar-menu {
    max-width: 70px !important;
    padding-right: 0 !important;
}

.sidebar-view {
    max-width: 350px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tab-view {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menu-header {
    vertical-align: text-bottom !important;
}

.centered {
    text-align: center;
}