/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

body {
  margin: 0;
  background-color: #F5F5F5 !important;
  font-family: 'Open Sans', 'Noto Sans Arabic', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  text-align: center;
  height: 100vh;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-ti {
  margin-bottom: 0.5em !important;
}

.mb-sm {
  margin-bottom: 1em;
}

.mt-none {
  margin-top: 0 !important;
}

.mt-ti {
  margin-top: 0.5em !important;
}

.mt-sm {
  margin-top: 1em;
}

.mt-md {
  margin-top: 1.5em;
}

.mt-lg {
  margin-top: 2em;
}

.mv-none {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.mr-none {
  margin-right: 0 !important;
}

.mr-mi {
  margin-right: 0.25em;
}

.mr-ti {
  margin-right: 0.5em;
}

.mr-sm {
  margin-right: 1em;
}

.mr-md {
  margin-right: 1.5em;
}

.mr-lg {
  margin-right: 2em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121214 !important;
    color: #f1f1f1 !important;
  }
}
*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
