@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

body {
  margin: 0;
  background-color: #F5F5F5 !important;
  font-family: 'Open Sans', 'Noto Sans Arabic', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  text-align: center;
  height: 100vh;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-ti {
  margin-bottom: 0.5em !important;
}

.mb-sm {
  margin-bottom: 1em;
}

.mt-none {
  margin-top: 0 !important;
}

.mt-ti {
  margin-top: 0.5em !important;
}

.mt-sm {
  margin-top: 1em;
}

.mt-md {
  margin-top: 1.5em;
}

.mt-lg {
  margin-top: 2em;
}

.mv-none {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.mr-none {
  margin-right: 0 !important;
}

.mr-mi {
  margin-right: 0.25em;
}

.mr-ti {
  margin-right: 0.5em;
}

.mr-sm {
  margin-right: 1em;
}

.mr-md {
  margin-right: 1.5em;
}

.mr-lg {
  margin-right: 2em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121214 !important;
    color: #f1f1f1 !important;
  }
}
